# Python cache
__pycache__/
*.py[cod]

# Virtual envs
.venv/
venv/

# Env & secrets
.env

# Data artifacts
data/

# Jupyter
.ipynb_checkpoints/

# Test/coverage cache
.pytest_cache/
.coverage*

# OS/editor noise
.DS_Store
Thumbs.db